<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    <%= form_for(@two_offspring,:html=>{:class=>"form-horizontal" }) do |f| %>
                    <% if @two_offspring.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@two_offspring.errors.count, "error") %> prohibited this one_offspring from being saved:</h2>

                        <ul>
                            <% @two_offspring.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                    <% end %>
                    <div class="col-md-6">
                        <div class="form-group">
                            <%= f.label :one_offspring_id,"One offspring (codeCros-individual)", :class=>"col-md-3" %>
                            <div class="col-md-3">
                                <%= f.collection_select(:one_offspring_id,OneOffspring.where(status: 'keep'),:id,:codeCross_name,{:prompt => "Select"},{:class => "form-control", :id => "one_offspring_id"})%>                    
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :color, :class=>"col-md-3" %>
                            <div class="col-md-3">
                                <%= f.text_field :color,:class=>"form-control", :id => "colorId", :readonly => true %> 
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :status, :class=>"col-md-3" %>
                            <div class="col-md-3">
                                <%= f.select(:status, options_for_select([['Keep','keep'],['Out','out']], :selected => f.object.status), {:prompt => "Select"}, {:class => 'form-control'})  %>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :headSize, :class=>"col-md-3" %>
                            <div class="col-md-3">
                                <%= f.text_field :headSize,:class=>"form-control" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :flowering, :class=>"col-md-3" %>
                            <div class="col-md-3">
                                <%= f.number_field :flowering ,:class=>"form-control"%>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :numPetals, :class=>"col-md-3" %>
                            <div class="col-md-3">
                                <%= f.number_field :numPetals ,:class=>"form-control"%>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :form, :class=>"col-md-3" %>
                            <div class="col-md-3">
                                <%= f.select(:form, options_for_select([['Good','good'],['Bad','bad']], :selected => f.object.form), {:prompt => "Select"}, {:class => 'form-control'})  %>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <%= f.label "Main Picture", :class=>"col-md-2 control-label" %>
                            <div class="col-md-4">
                                <%= f.collection_select(:PictureId,TwoOffspringPicture.where(two_offspring_id: @two_offspring.id),:id,:picture_file_name,{:prompt => "Select Image", :include_blank => "None"},{:class => "form-control"})%>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="actions">
                                <%= f.submit class: "btn btn-primary active"%>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

