<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-left"><%= @two_offspring.one_offspring.germination.seed.crossing.codeCross %>-<%=@two_offspring.one_offspring.individual%></h2>
            </div>

            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Codecross:
                        <span><strong><%= @two_offspring.one_offspring.germination.seed.crossing.codeCross %>-<%=@two_offspring.one_offspring.individual%></strong></span>
                    </li>

                    <li class="list-group-item">Color:
                        <span><strong><%= @two_offspring.color  %></strong></span>
                    </li>

                    <li class="list-group-item">Status:
                        <span><strong><%= @two_offspring.status %></strong></span>
                    </li>

                    <li class="list-group-item">HeadSize
                        <span><strong><%= @two_offspring.headSize %></strong></span>
                    </li>

                    <li class="list-group-item">Flowering:
                        <span><strong><%= @two_offspring.flowering %></strong></span>
                    </li>

                    <li class="list-group-item">NumPetals:
                        <span><strong><%= @two_offspring.numPetals %></strong></span>
                    </li>

                    <li class="list-group-item">Form:
                        <span><strong><%= @two_offspring.form %></strong></span>
                    </li>

                </ul>
            </div>

            <div class="row">
                <h2>Images</h2>
                <% @two_offspring.two_offspring_pictures.each do |picture| %>
                <div class="col-md-3">
                    <div class="image-rose">
                        <%= image_tag picture.picture.url(), :class=>"img-thumbnail" %>
                        <p>
                            <%= link_to [picture.two_offspring,picture],method: :delete,data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do %>
                            <i class="glyphicon glyphicon-trash"></i>
                            <%end%>
                        </p>
                    </div>
                </div>                
                <%end%>
            </div>

            <div class="row">
                <h2>Add Image</h2>    
                <%= form_for([@two_offspring, @two_offspring.two_offspring_pictures.build]) do |f| %>

                <div class="form-group">
                    <%= f.label :picture%>
                    <%= f.file_field :picture %>
                </div>

                <div class="form-group">
                    <%= f.submit class: "btn btn-primary active"%>
                </div>
                <% end %>
            </div>

            <div class="panel-footer">
                <%= link_to 'Edit', edit_two_offspring_path(@two_offspring),class: "btn btn-primary active" %> 
                <%= link_to 'Back', two_offsprings_path,class: "btn btn-primary active" %>
            </div>
        </div>
    </div>
</div>








