<div class="container">
    <div class="row">
        <%= link_to 'Back', two_offsprings_path,class: "btn btn-default glyphicon glyphicon-arrow-left" %>
        <%= link_to 'Edit', edit_two_offspring_path(@two_offspring),class: "btn btn-default glyphicon glyphicon-pencil" %>   
        <%= render 'uploadImage', model: "TwoOffspring" %>      
        <br>    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-left"><%= @two_offspring.one_offspring.germination.seed.crossing.codeCross %>-<%=@two_offspring.one_offspring.individual%></h2>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <div class="col-md-6">
                        <li class="list-group-item">Codecross:
                            <span><strong><%= @two_offspring.one_offspring.germination.seed.crossing.codeCross %>-<%=@two_offspring.one_offspring.individual%></strong></span>
                        </li>

                        <li class="list-group-item">Color:
                            <span><strong><%= @two_offspring.color  %></strong></span>
                        </li>

                        <li class="list-group-item">Status:
                            <span><strong><%= @two_offspring.status %></strong></span>
                        </li>

                        <li class="list-group-item">HeadSize
                            <span><strong><%= @two_offspring.headSize %></strong></span>
                        </li>

                        <li class="list-group-item">Flowering:
                            <span><strong><%= @two_offspring.flowering %></strong></span>
                        </li>

                        <li class="list-group-item">NumPetals:
                            <span><strong><%= @two_offspring.numPetals %></strong></span>
                        </li>

                        <li class="list-group-item">Form:
                            <span><strong><%= @two_offspring.form %></strong></span>
                        </li>

                        <li class="list-group-item">Main Picture:
                            <span><strong> 
                                <%= @two_offspring.PictureId ? @two_offspring.getPictureName : "None" %>
                                </strong></span>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="gallery">
                <% @two_offspring.two_offspring_pictures.each do |picture| %>
                <figure>
                    <%if picture.picture.url() != "/pictures/original/missing.png" %>
                    <%= image_tag picture.picture.url(), :class=>"img-thumbnail" %>
                    <%= picture.picture_file_name %> 
                    <%= link_to [picture.two_offspring,picture],method: :delete,data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do %>
                    <i class="glyphicon glyphicon-trash"></i>
                    <%end%>
                    <%end%>
                </figure>
                <%end%>
            </div>
            <div class="panel-footer">
                <%= link_to 'Edit', edit_two_offspring_path(@two_offspring),class: "btn btn-default glyphicon glyphicon-pencil" %> 
                <%= link_to 'Back', two_offsprings_path,class: "btn btn-default glyphicon glyphicon-arrow-left" %>
            </div>
        </div>
    </div>
</div>








