<p id="notice"><%= notice %></p>

<h1>Listing Three Offspring Pictures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @three_offspring_pictures.each do |three_offspring_picture| %>
      <tr>
        <td><%= link_to 'Show', three_offspring_picture %></td>
        <td><%= link_to 'Edit', edit_three_offspring_picture_path(three_offspring_picture) %></td>
        <td><%= link_to 'Destroy', three_offspring_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Three offspring picture', new_three_offspring_picture_path %>
