<%= form_for @crossing, :html => { :multipart => true ,'data-model' => 'crossing'}, :remote => true do |f| %>
<div class="modal-body">
    <span id="error_box">
        <ul></ul>
    </span>
    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :father_id %>
        <%= f.collection_select(:father_id,GeneticBank.where(:status => "keep"),:id,:selectCodeTrademark,{:prompt => "Select code-trademark"},{:class => "form-control",:id => "father_id"})%>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :mother_id %>
        <%= f.collection_select(:mother_id,GeneticBank.where(:status => "keep"),:id,:selectCodeTrademark,{:prompt => "Select code-trademark"},{:class => "form-control",:id => "mother_id",disabled: true})%>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :year %>
        <%= f.select :year, (Time.zone.now.year - 5)..(Time.zone.now.year + 20), {:prompt => "Select"},{:class =>"form-control",disabled: true} %>
    </div>
    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :codeCross , :class=>"col-md-2 control-label"%>
        <%= f.text_field :codeCross,:class=>"form-control",:id=>"codeCrossId" ,:readonly => true %>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :numRepeat , :class=>"col-md-2 control-label"%>
        <%= f.number_field :numRepeat, :class=>"form-control" ,min: 0 %>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :numOrder , :class=>"col-md-2 control-label" %>
        <%= f.number_field :numOrder, :class=>"form-control" ,min: 0 , :readonly => true %>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :status, :class=>"col-md-2 control-label" %>
        <%= f.select(:status, options_for_select([['Keep','keep'],['Out','out']], :selected => f.object.status), {:prompt => "Select"}, {:class => 'form-control'})  %>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :crossWeek, :class=>"col-md-2 control-label" %>
        <%= f.number_field :numCrossings,:class=>"form-control", min: 0 %>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :effective , :class=>"col-md-2 control-label"%>
        <%= f.select(:effective, options_for_select([['Not','not'],['Yes','yes']], :selected => f.object.effective), {:prompt => "Select"},{:class => 'form-control', :id => "effectiveId"})  %>
    </div>
    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :numCrossings, :class=>"col-md-2 control-label" %>
        <%= f.number_field :numCrossings,:class=>"form-control",min: 0, :id => "numCrossingId" %>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :goodCrossings, :class=>"col-md-2 control-label" %>
        <%= f.number_field :goodCrossings,:class=>"form-control",min: 0,:id => "goodCrossingId" %>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :badCrossings, :class=>"col-md-2 control-label" %>
        <%= f.number_field :badCrossings,:class=>"form-control",min: 0,:id => "badCrossingId", :readonly => true %>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label "%Effective" , :class=>"col-md-2 control-label"%>
        <%= f.text_field :percentageEffective ,:class=>"form-control", :id => "percEffectiveId",:readonly => true%>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :dateHarvest , :class=>"col-md-2 control-label"%>
        <%= f.date_field :dateHarvest ,:class=>"form-control",value: f.object.dateHarvest ,:prompt => "Select"%>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :weekHarvest , :class=>"col-md-2 control-label"%>
        <%= f.number_field :weekHarvest, :class=>"form-control",min: 0  %>
    </div>

    <div class="form-group col-xs-5 col-md-4">
        <%= f.label :numSeeds , :class=>"col-md-2 control-label"%>
        <%= f.number_field :numSeeds, :class=>"form-control",min: 0  %>
    </div>
</div>
<div class="modal-footer">
        <%= f.submit class: "btn btn-primary btn-lg btn-block" %>
</div>
<% end %>