<% if @crossing.errors.empty? %>    
    $('#dialog').modal('toggle');
    $('#crossingsBody').append('<%= j render (@crossing) %>');    
<% else %>       
  $(".form-group").removeClass("has-error");
  $("p.field_with_errors").remove();
 
  <% @crossing.errors.full_messages_for(:codeCrossId).each do |message| %>                 
    $("#codeCrossId").closest(".form-group").addClass("has-error");
    $("#codeCrossId" ).after('<p class="field_with_errors"><%= message %></p>'); 
  <% end %> 

  <% @crossing.errors.full_messages_for(:numRepeat).each do |message| %>          
    $("#crossing_numRepeat").closest(".form-group").addClass("has-error");
    $("#crossing_numRepeat" ).after('<p class="field_with_errors"><%= message %></p>'); 
  <% end %> 

  <% @crossing.errors.full_messages_for(:year).each do |message| %>                     
    $("#crossing_year" ).after('<p class="field_with_errors"><%= message %></p>');              
    $("#crossing_year").closest(".form-group").addClass("has-error");
  <% end %> 

  <% @crossing.errors.full_messages_for(:father_id).each do |message| %>                     
    $("#father_id").closest(".form-group").addClass("has-error");
    $("#father_id" ).after('<p class="field_with_errors"><%= message %></p>');              
  <% end %> 

  <% @crossing.errors.full_messages_for(:mother_id).each do |message| %>                     
    $("#mother_id").closest(".form-group").addClass("has-error");
    $("#mother_id" ).after('<p class="field_with_errors"><%= message %></p>');              
  <% end %> 

  <% @crossing.errors.full_messages_for(:numSeeds).each do |message| %>                     
    $("#crossing_numSeeds").closest(".form-group").addClass("has-error");
    $("#crossing_numSeeds" ).after('<p class="field_with_errors"><%= message %></p>');              
  <% end %> 
<% end %>

