<%= form_for(@three_offspring,remote: true, :html=>{ multipart: true ,:role => "form"}) do |f| %>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= f.label :two_offspring_id,"Two offspring (codeCros-individual)" %>
            <%= f.collection_select(:two_offspring_id,TwoOffspring.where(status: 'keep'),:id,:codeCross_name,{:prompt => "Select"},{:class => "form-control first_input", :id => "two_offspring_id"})%>                    
        </div>
    
        <div class="form-group">
            <%= f.label :color %>
            <%= f.text_field :color,:class=>"form-control", :id => "colorId", :readonly => true%>
        </div>
    
        <div class="form-group">
            <%= f.label :status %>
            <%= f.select(:status, options_for_select([['Keep','keep'],['Out','out']], :selected => f.object.status), {:prompt => "Select"}, {:class => 'form-control'})  %>
        </div>
    
        <div class="form-group">
            <%= f.label "Head Size(cm)" %>
            <%= f.number_field :headSize,:class=>"form-control",min: 1 %>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="form-group">
            <%= f.label :flowering %>
            <%= f.number_field :flowering ,:class=>"form-control",min: 1%>
        </div>
    
        <div class="form-group">
            <%= f.label :numPetals %>
            <%= f.number_field :numPetals ,:class=>"form-control",min: 1%>
        </div>
    
        <div class="form-group">
            <%= f.label :form %>
            <%= f.select(:form, options_for_select([['Good','good'],['Bad','bad']], :selected => f.object.form), {:prompt => "Select"}, {:class => 'form-control'})  %>
        </div>
        
        <div class="form-group">
            <%= f.label "Main Picture" %>
            <%= f.collection_select(:PictureId,ThreeOffspringPicture.where(three_offspring_id: @three_offspring.id),:id,:picture_file_name,{:prompt => "Select Image", :include_blank => "None"},{:class => "form-control"})%>
        </div>
        <div class="form-group">
            <%= f.label :pictures %>
            <%= file_field_tag "images[]", type: :file, multiple: true %>
        </div>
    </div>
    <div class="form-group">
        <%= f.submit class: "btn btn-primary active btn-block"%>
    </div>
</div>
<% end %>
     