<p id="notice"><%= notice %></p>

<h1>Listing Irb Selections Pictures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @irb_selections_pictures.each do |irb_selections_picture| %>
      <tr>
        <td><%= link_to 'Show', irb_selections_picture %></td>
        <td><%= link_to 'Edit', edit_irb_selections_picture_path(irb_selections_picture) %></td>
        <td><%= link_to 'Destroy', irb_selections_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Irb selections picture', new_irb_selections_picture_path %>
