<% if @genetic_bank.errors.empty? %>  
    $('#dialog').modal('toggle');
    $('#geneticBankBody').append('<%= j render "geneticBank", geneticBank: @genetic_bank %>');        
<% else %>       
  $(".form-group").removeClass("has-error");
  $("p.field_with_errors").remove();
 
  <% @genetic_bank.errors.full_messages_for(:code).each do |message| %>                 
    $("#genetic_bank_code").closest(".form-group").addClass("has-error");
    $("#genetic_bank_code" ).after('<p class="field_with_errors"><%= message %></p>'); 
  <% end %> 

  <% @genetic_bank.errors.full_messages_for(:location).each do |message| %>          
    $("#genetic_bank_location").closest(".form-group").addClass("has-error");
    $("#genetic_bank_location" ).after('<p class="field_with_errors"><%= message %></p>'); 
  <% end %> 

  <% @genetic_bank.errors.full_messages_for(:status).each do |message| %>                     
    $("#genetic_bank_status").closest(".form-group").addClass("has-error");
    $("#genetic_bank_status" ).after('<p class="field_with_errors"><%= message %></p>');              
  <% end %> 

  <% @genetic_bank.errors.full_messages_for(:trademark).each do |message| %>                     
    $("#genetic_bank_trademark" ).after('<p class="field_with_errors"><%= message %></p>');              
    $("#genetic_bank_trademark").closest(".form-group").addClass("has-error");
  <% end %> 

  <% @genetic_bank.errors.full_messages_for(:denomination).each do |message| %>                     
    $("#genetic_bank_denomination" ).after('<p class="field_with_errors"><%= message %></p>');              
    $("#genetic_bank_denomination").closest(".form-group").addClass("has-error");
  <% end %> 
<% end %>



