<!--<p id="notice">< notice %></p>-->
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-left"><%= @genetic_bank.code %></h2>
            </div>

            <div class="panel-body">
                <ul class="list-group">
                    <div class="col-md-6">
                        <li class="list-group item">Code:
                            <span><strong> <%= @genetic_bank.code %></strong></span>
                        </li>

                        <li class="list-group item">Location:
                            <span><strong><%= @genetic_bank.location %></strong></span>
                        </li>

                        <li class="list-group item">Trademark:
                            <span><strong><%= @genetic_bank.trademark %></strong></span>
                        </li>

                        <li class="list-group item">Denomination:
                            <span><strong> <%= @genetic_bank.denomination %></strong></span>
                        </li>

                        <li class="list-group item">Year:
                            <span><strong><%= @genetic_bank.year %></strong></span>
                        </li>

                        <li class="list-group item">Breeder:
                            <span><strong> <%= @genetic_bank.breeder %></strong></span>
                        </li>

                        <li class="list-group item">Status:
                            <span><strong>   <%= @genetic_bank.status %></strong></span>
                        </li>

                        <li class="list-group item">Numplants:
                            <span><strong> <%= @genetic_bank.numPlants %></strong></span>
                        </li>
                    </div>

                    <div class="col-md-6">
                        <li class="list-group item">Color:
                            <span><strong><%= @genetic_bank.color ? @genetic_bank.color.colorName : 'N/A' %></strong></span>
                        </li>

                        <li class="list-group item">Scent:
                            <span><strong> <%= @genetic_bank.scent %></strong></span>
                        </li>

                        <li class="list-group item">Headsize:
                            <span><strong><%= @genetic_bank.headSize %></strong></span>
                        </li>

                        <li class="list-group item">Numpetals:
                            <span><strong><%= @genetic_bank.numPetals %></strong></span>
                        </li>

                        <li class="list-group item">Steamlenght:
                            <span><strong><%= @genetic_bank.steamLenght %></strong></span>
                        </li>

                        <li class="list-group item">Production:
                            <span><strong><%= @genetic_bank.production %></strong></span>
                        </li>

                        <li class="list-group item">Opening:
                            <span><strong>  <%= @genetic_bank.opening %></strong></span>
                        </li>

                        <li class="list-group item">Abnormality:
                            <span><strong><%= @genetic_bank.abnormality %></strong></span>
                        </li>

                        <li class="list-group item">Remarks:
                            <span><strong> <%= @genetic_bank.remarks %></strong></span>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="row">
                <h2>Images</h2>
                <% @genetic_bank.genetic_bank_pictures.each do |picture| %>
                <div class="col-md-3">
                    <div class="image-rose">
                        <%= image_tag picture.picture.url(), :class=>"img-thumbnail" %>
                        <p>
                            <%= link_to [picture.genetic_bank,picture],method: :delete,data:{confirm: 'Are you sure?'},:class => "btn btn-danger btn-sm" do%>
                            <i class="glyphicon glyphicon-trash"></i>
                            <%end%>
                        </p>
                    </div>
                </div>
                <%end%>
            </div>

            <div class="row">
                <h2>Add Image</h2>    
                <%= form_for([@genetic_bank, @genetic_bank.genetic_bank_pictures.build]) do |f| %>

                <div class="form-group">
                    <%= f.label :picture%>
                    <%= f.file_field :picture %>
                </div>
                <br>
                <div class="form-group">
                    <%= f.submit class: "btn btn-primary" %>
                </div>
                <% end %>
            </div>
            <div class="panel-footer">
                <%= link_to 'Edit', edit_genetic_bank_path(@genetic_bank), class: "btn btn-primary active"%>
                <%= link_to 'Back', genetic_banks_path, class: "btn btn-primary active" %>
            </div>
        </div>
    </div>
</div>
















