$('.alert-success').hide();
$(".form-group").removeClass("has-error");
$("p.field_with_errors").remove();
<% if @genetic_bank.errors.empty? %> 
  $('table tbody tr#<%= @genetic_bank.id %>').replaceWith(' <%= j render "row", geneticBank: @genetic_bank  %>');
  $('.alert-success').html("Updated success").show();  
<% else %>       
  <% @genetic_bank.errors.full_messages_for(:code).each do |message| %>       
    $("#genetic_bank_code").closest(".form-group").addClass("has-error");
    $("#genetic_bank_code" ).after('<p class="field_with_errors"><%= message %></p>'); 
  <% end %> 

  <% @genetic_bank.errors.full_messages_for(:location).each do |message| %>          
    $("#genetic_bank_location").closest(".form-group").addClass("has-error");
    $("#genetic_bank_location" ).after('<p class="field_with_errors"><%= message %></p>'); 
  <% end %> 

  <% @genetic_bank.errors.full_messages_for(:status).each do |message| %>                     
    $("#genetic_bank_status").closest(".form-group").addClass("has-error");
    $("#genetic_bank_status" ).after('<p class="field_with_errors"><%= message %></p>');              
  <% end %> 
<% end %>

