<!-- <%= render 'optionsMenu', model: "IrbSelection" %>
<%= render 'modalBarCode', model: "IrbSelection" %>
<%=
    grid(@irbSelections) do |irbSelection|
        irbSelection.column name: "", attribute: "codeCross", assoc: [:three_offspring,:two_offspring,:one_offspring,:germination] do |k|
            k.three_offspring.two_offspring.one_offspring.germination.seed.crossing.codeCross+"-#{k.three_offspring.two_offspring.one_offspring.individual}"
        end

        irbSelection.column name: "Code", attribute: "code"
        irbSelection.column name: "Locat", attribute: "location"
        irbSelection.column name: "Trademark", attribute: "trademark"
        irbSelection.column name: "Denomin", attribute: "denomination"

        irbSelection.column name: "Image", html: {class: "image-rose-index"} do |irbSelectionImg|
            if @pictures.exists?(:id => irbSelectionImg.irb_selections_picture_id)
                arrayImage = @pictures.where(id: irbSelectionImg.irb_selections_picture_id).to_a
                pictureFileName = arrayImage[0][:picture_file_name]
                image_tag(@irbSelectionsImgPath+pictureFileName,:class => "img-thumbnail")
            end
        end

        irbSelection.column name: "Year", attribute: "year"
        irbSelection.column name: "Status", attribute: "status"
        irbSelection.column name: "N.Plants", attribute: "numPlants"
        irbSelection.column name: "Color", attribute: "color"
        irbSelection.column name: "Scent", attribute: "scent"
        irbSelection.column name: "Headsize", attribute: "headSize"
        irbSelection.column name: "N.Petals", attribute: "numPetals"
        irbSelection.column name: "Steamlenght", attribute: "steamLenght"
        #        irbSelection.column name: "Produc", attribute: "production"
        #        irbSelection.column name: "Opening", attribute: "opening"
        #        irbSelection.column name: "Abnormality", attribute: "abnormality"
        #        irbSelection.column name: "Remarks", attribute: "remarks"

        irbSelection.column do |edit|
            link_to('', edit_irb_selection_path(edit.id),:class => "btn btn-default glyphicon glyphicon-pencil")
        end    

        irbSelection.column do |show|
            link_to('',irb_selection_path(show.id),:class => "btn btn-default glyphicon glyphicon-eye-open")
        end

        irbSelection.column do |delete|
            link_to('', irb_selection_path(delete.id), data: {confirm: 'Are you sure?'}, method: :delete,:class => 'btn btn-default glyphicon glyphicon-trash')
        end
    end
-%> -->
<%= render 'optionsMenu', model: "IrbSelection" %>
<%= render 'modalBarCode', model: "IrbSelection" %>
<div class="panel panel-primary filterable">
    <div class="panel-heading">
        <h2 class="panel-title">IRB Selections</h2>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-striped filterTable">
            <button type="button" class="btn btn-primary clearFilters" aria-label="Left Align">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset Filters
            </button>
            <br>
            <br>
            <thead>
                <tr class="filters">
                    <th>Code</th>
                    <th>Location </th>
                    <th>Denomination</th>
                    <th>Picture</th>
                    <th>Year</th>
                    <th>Status</th>
                    <th>Color</th>
                    <th>Head Size</th>                    
                    <th class="buttonAction"></th>
                    <th class="buttonAction"></th>
                    <th class="buttonAction"></th>
                </tr>
            </thead>
            <tbody id="oneOffspringsBody">
                <% @irb_selections.each do |irbSelection| %>
                <%= render "irb_selection", irbSelection: irbSelection %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<%= render 'dialog' %>