<div class="container">
    <div class="row">
        <%= link_to 'Back', irb_selections_path ,class: "btn btn-default glyphicon glyphicon-arrow-left"%>
        <%= render 'uploadImage', model: "IrbSelection" %>
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-left"><%= @irb_selection.code %></h2>
            </div>
            <div class="panel-body"></div>
            <div class="gallery">
                <% @irb_selection.irb_selections_pictures.each do |picture| %>
                <figure>
                    <%if picture.picture.url() != "/pictures/original/missing.png" %>
                    <%= image_tag picture.picture.url(), :class=>"img-responsive" %>
                    <%= picture.picture_file_name %>                    
                    <%= link_to [picture.irb_selection,picture],method: :delete,data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do %>
                    <i class="glyphicon glyphicon-trash"></i>
                    <%end%>
                    <%end%>
                </figure>
                <%end%>
            </div>
        </div>
    </div>
</div>