<div class="row">
    <div class="col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
        <% @user.errors.full_messages.each do |message|%>
        <div class="alert alert-danger">
            <li><%= message %></li>
        </div>
        <%end%>
        <div class="form-group ">
            <p><%= f.label :Username %><br />
                <%= f.text_field :username ,:class=>"form-control"%></p>
        </div>

        <div class="form-group  ">
            <p><%= f.label :Email %><br />
                <%= f.text_field :email ,:class=>"form-control"%></p>
        </div>       

        <div class="form-group  ">
            <% if can? :manage, User%>
            <%= f.collection_select(:role, User::Roles, :to_s, :humanize,{:prompt => "Select Role"},{:class => "form-control"}) %>
            <% end %>
        </div>

        <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off",:class=>'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" ,:class=>'form-control'%>
        </div>

        <div class="form-group  ">
            <p><%= f.submit :class=>"btn btn-primary" %></p>            
            <%= link_to 'Back', user_index_path, class: "btn btn-default glyphicon glyphicon-arrow-left" %>
        </div>	
    </div>
</div>
