<!-- <%= render 'optionsMenu', model: "ConectiflorSelection" %>
<%= render 'modalBarCode', model: "ConectiflorSelection" %>
<%=
    grid(@conectiflorSelectionsGrid) do |conectiflor|    
        conectiflor.column name: "Code", attribute: "code" 
        conectiflor.column name: "Location", attribute: "location" 
        conectiflor.column name: "Trademark", attribute: "trademark" 
        conectiflor.column name: "Denomination", attribute: "denomination" 

        conectiflor.column name: "Image" do |conectiflorImage|
            if @pictures.exists?(:id => conectiflorImage.conectiflor_picture_id)
                arrayImage = @pictures.where(id: conectiflorImage.conectiflor_picture_id).to_a
                pictureFileName = arrayImage[0][:picture_file_name]
                image_tag(@conectiflorImagesPath+pictureFileName,:class =>"img-thumbnail")      
            end            
        end        

        conectiflor.column name: "Year", attribute: "year" 
        conectiflor.column name: "Status", attribute: "status" 
        conectiflor.column name: "N° Plants", attribute: "numPlants" 
        conectiflor.column name: "Color", attribute: "colorName" , assoc: :color
        conectiflor.column name: "Head Size", attribute: "headSize" 
        conectiflor.column name: "N° Petals", attribute: "numPetals" 
        conectiflor.column name: "Production %", attribute: "production" 
        conectiflor.column name: "Opening %", attribute: "opening" 
        conectiflor.column name: "Abnormality", attribute: "abnormality" 
#        conectiflor.column name: "Remarks", attribute: "remarks"   

        conectiflor.column do |conectiflorSelection|
            link_to("",edit_conectiflor_selection_path(conectiflorSelection.id),:class => "btn btn-default glyphicon glyphicon-pencil")
        end

        conectiflor.column do |conectiflorSelection|
            link_to("",conectiflor_selection_path(conectiflorSelection.id),:class => "btn btn-default glyphicon glyphicon-eye-open")
        end

        conectiflor.column do |conectiflorSelection|
            link_to("",conectiflor_selection_path(conectiflorSelection.id), data: {confirm: 'Are you sure?'}, method: :delete,:class => 'deleteButton',:class => "btn btn-default glyphicon glyphicon-trash")
        end
    end
-%> -->
<%= render 'optionsMenu', model: "ConectiflorSelection" %>
<%= render 'modalBarCode', model: "ConectiflorSelection" %>
<div class="panel panel-primary filterable">
    <div class="panel-heading">
        <h2 class="panel-title">Conectiflor Selections</h2>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-striped filterTable">
            <button type="button" class="btn btn-primary clearFilters" aria-label="Left Align">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset Filters
            </button>
            <br>
            <br>
            <thead>
                <tr class="filters">
                    <th>Code</th>
                    <th>Location </th>
                    <th>Denomination</th>
                    <th>Picture</th>
                    <th>Year</th>
                    <th>Status</th>
                    <th>Color</th>
                    <th>Head Size</th>                    
                    <th>Production</th>                    
                    <th class="buttonAction"></th>
                    <th class="buttonAction"></th>
                    <th class="buttonAction"></th>
                </tr>
            </thead>
            <tbody id="conectiflorSelectionBody">
                <% @conectiflor_selections.each do |conectiflorSelection| %>
                <%= render "conectiflor_selection", conectiflorSelection: conectiflorSelection %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<%= render 'dialog' %>



