<div class="container">
    <div class="row">
        <%= link_to 'Back', conectiflor_selections_path,class: "btn btn-default glyphicon glyphicon-arrow-left" %>
        <%= render 'uploadImage', model: "ConectiflorSelection" %>
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-left"><%= @conectiflor_selection.code %></h2>
            </div>
            <div class="panel-body">
                <div class="gallery">
                    <% @conectiflor_selection.conectiflor_pictures.each do |picture| %>
                    <figure>
                        <%if picture.picture.url() != "/pictures/original/missing.png" %>
                        <%= image_tag picture.picture.url(), :class=>"img-thumbnail" %>
                        <%= picture.picture_file_name %>
                        <%= link_to [picture.conectiflor_selection,picture],method: :delete,data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do %>
                        <i class="glyphicon glyphicon-trash"></i>
                        <%end%>
                        <%end%>
                    </figure>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>