<%= form_for(@seed, remote: true, :html => { :role => "form" }) do |f| %>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <%= f.label :crossing_id %>
            <%= f.collection_select(:crossing_id,Crossing.where(effective: "yes" ),:id,:selectCodeNumRepeat,{:prompt => "Select"},{:class => "form-control first_input",:id => "crossing_id"})%>
        </div>

        <div class="form-group">
            <%= f.label :sowDate %>
            <%= f.date_field :sowDate,:class=>"form-control",value: f.object.sowDate ,:prompt => "Select" %>
        </div>

        <div class="form-group">
            <%= f.label :origin %>
            <%= f.select(:origin, options_for_select([['Lazo','lazo'],['Tabacundo','tabacundo'],['Cayambe','cayambe']], :selected => f.object.origin), {:prompt => "Select"}, {:class => 'form-control'}) %>
        </div>

        <div class="form-group">
            <%= f.label :numSeeds %>
            <%= f.number_field :numSeeds,:class=>"form-control", :id=>"numSeeds",:readonly => true  %>
            <!--                    :onchange=> "sumaNumRepeat()"-->
        </div>

        <div class="form-group">
            <%= f.label :totalWeight %>
            <%= f.text_field :totalWeight ,:class=>"form-control", placeholder: "##gr" %>
        </div>

        <div class="form-group">
            <%= f.label :week %>
            <%= f.number_field :week,:class=>"form-control",min: 1  %>
        </div>

        <div class="form-group">
            <%= f.label :hydratation %>
            <%= f.select(:hydratation, options_for_select([['Not','not'],['Yes','yes']], :selected => f.object.hydratation), {:prompt => "Select"},{:class => 'form-control'})  %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= f.label :status %>
            <%= f.select(:status, options_for_select([['Keep','keep'],['Out','out']], :selected => f.object.status), {:prompt => "Select"},{:class => 'form-control'})  %>
        </div>

        <div class="form-group">
            <%= f.label :dateOut %>
            <%= f.date_field :dateOut,:class=>"form-control",value: f.object.dateOut ,:prompt => "Select" %>
        </div>

        <div class="form-group">
            <%= f.label :germination %>
            <%= f.select(:germination, options_for_select([['Not','not'],['Yes','yes']], :selected => f.object.germination), {:prompt => "Select"},{:class => 'form-control'})  %>
        </div>

        <div class="form-group">
            <%= f.label :totalCode, :class=>"col-md-3" %>
            <%=f.text_field :totalCode, :class => "form-control", :id => "totalCode", :readonly => true%>
        </div>

        <div class="form-group">
            <%= f.label :totalNumRepeat, :class=>"col-md-3" %>
            <%=f.text_field :totalNumRepeat, :class => "form-control", :id => "totalNumRepeat", :readonly => true%>
        </div>

        <div class="form-group">
            <%= f.label :codeCrossName, :class=>"col-md-3" %>
            <%=f.text_field :codeCrossName, :class => "form-control", :id => "codeCrossName", :readonly => true%>
        </div>

        <div class="form-group">
            <%= f.label :codeCross, :class=>"col-md-3" %>
            <%=f.text_field :codeCross, :class => "form-control", :id => "codeCross", :readonly => true%>
        </div>
    </div>
    <div class="form-group">
        <%= f.submit class: "btn btn-primary btn-lg btn-block" %>
    </div>
</div>
<% end %>