<%= form_for(@germination,remote: true,:html => {:role => "form"}) do |f| %>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= f.label :seed_id,"Seed(codeCross-numRepeat)" %>
            <%= f.collection_select(:seed_id,Seed.where(germination: 'yes'),:id,:codeCross_numRepeat,{:prompt => "Select"},{:class => "form-control first_input", :id => "seed_id"})%>
        </div>

        <div class="form-group">
            <%= f.label :week %>
            <%= f.number_field :week,:class=>"form-control",min: 1 %>
        </div>

        <div class="form-group">
            <%= f.label :numGerminations %>
            <%= f.number_field :numGerminations,:class=>"form-control" ,:id=>"numGerminations" , :onchange=> "germinationsTotal()",min: 1%>
        </div>

        <div class="form-group">
            <%= f.label :missingSeed %>
            <%= f.number_field :missingSeed,:class=>"form-control" ,:id=>"missingSeedId" , :readonly => true,min: 1%>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <%= f.label :totalCode %>
            <%= f.text_field :totalCode,:class=>"form-control" ,:id=>"totalCode", :readonly => true %>
        </div>

        <div class="form-group">
            <%= f.label :totalNumRepeat %>
            <%= f.text_field :totalNumRepeat,:class=>"form-control" ,:id=>"totalNumRepeat", :readonly => true %>
        </div>

        <div class="form-group">
            <%= f.label :codeCross %>
            <%= f.text_field :codeCross,:class=>"form-control", :id => "codeCross" , :readonly => true %>
        </div>

        <div class="form-group">
            <%= f.label :codeCrossNumRepeat %>
            <%= f.text_field :codeCrossNumRepeat,:class=>"form-control" , :id => "codeCrossNumRepeat", :readonly => true %>
        </div>
    </div>
    <div class="actions">
        <%= f.submit class: "btn btn-primary btn-lg btn-block" %>
    </div>
</div>
<% end %>