<!-- <%= render 'optionsMenu', model: "Germination" %>
<%=
    grid(@germinationsGrid) do |germination|
        germination.column name: "CodeCross", attribute: "codeCross", assoc: :seed do |seedCross|
            seedCross.seed.crossing.codeCross+"-#{seedCross.seed.crossing.numRepeat}"
        end
        germination.column name: "Father Img", html: {class: "image-rose-index"}  do |germinationFatherImg|
            if @pictures.exists?(:genetic_bank_id => germinationFatherImg.seed.crossing.father_id)
                arrayImage = @pictures.where(genetic_bank_id: germinationFatherImg.seed.crossing.father_id).to_a
                pictureFileName = arrayImage[0][:picture_file_name]
                image_tag(@geneticBankImagesPath+pictureFileName,:class => "img-thumbnail")
            end
        end

        germination.column name: "Mother Img", html: {class: "image-rose-index"} do |germinationMotherImg|
            if @pictures.exists?(:genetic_bank_id => germinationMotherImg.seed.crossing.mother_id)
                arrayImage = @pictures.where(genetic_bank_id: germinationMotherImg.seed.crossing.mother_id).to_a
                pictureFileName = arrayImage[0][:picture_file_name]
                image_tag(@geneticBankImagesPath+pictureFileName,:class => "img-thumbnail")
            end
        end
        germination.column name: "Week", attribute: "week"
        germination.column name: "N°Germinations", attribute: "numGerminations"
        #        germination.column name: "MissingSeed", attribute: "missingSeed"

        germination.column do |germinationEdit|
            link_to("",edit_germination_path(germinationEdit.id),:class => "btn btn-default glyphicon glyphicon-pencil")
        end

        germination.column do |germinationShow|
            link_to("",germination_path(germinationShow.id),:class => "btn btn-default glyphicon glyphicon-eye-open")
        end

        germination.column do |germinationDelete|
            link_to("",germination_path(germinationDelete.id),data: {confirm: "Are you SUre?"},method: :delete,:class => "btn btn-default glyphicon glyphicon-trash")
        end
    end
-%> -->

<!-- ========================================================== -->
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#generalView">General View</a></li>
    <li><a data-toggle="tab" href="#resultsGerminations">Results</a></li>
</ul>

<div class="tab-content">
    <div id="generalView" class="tab-pane fade in active">
        <br>
        <%= render 'optionsMenu', model: "Germination" %>
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h2 class="panel-title">Germinations</h2>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-striped filterTable">
                    <button type="button" class="btn btn-primary clearFilters" aria-label="Left Align">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset Filters
                    </button>
                    <br>
                    <br>
                    <thead>
                        <tr class="filters">
                            <th>Code Cross-#Repeat</th>
                            <th>Week</th>
                            <th>Father Code</th>
                            <th>Mother Code</th>
                            <th>Nro Germinations</th>
                            <!-- <th>Missing Seeds</th>                             -->
                            <th class="buttonAction"></th>
                            <th class="buttonAction"></th>
                        </tr>
                    </thead>
                    <tbody id="germinationsBody">
                        <% @germinations.each do |germination| %>
                        <%= render "germination", germination: germination %>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <%= render 'dialog' %>
    </div>

    <div id="resultsGerminations" class="tab-pane fade">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h2 class="panel-title">Results by CodeCross</h2>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>CodeCross</th>
                            <th>Total</th>
                            <th>Percentaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- < sumaCodeCross.each do |item| >
                <tr>
                    <td>< item[0] ></td>
                    <td>< item[1] ></td>
                    <td>
                        < percentajeSeedscodeCross.each do |seed|>
                        <if seed[0] == item[0]>
                        < (item[1] * 100) / seed[1] >
                        <end>
                        <end>
                    </td>
                </tr>
                < end > -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>