<div class="container">
    <div class="row">
        <%= link_to('Edit', edit_germination_path(@germination), class: "btn btn-default glyphicon glyphicon-pencil") %>
        <%= link_to('Back', germinations_path, class: "btn btn-default glyphicon glyphicon-arrow-left")%>
        <br>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-left"><%= @germination.seed.crossing.codeCross %>-<%= @germination.seed.crossing.numRepeat %></h2>
            </div> 
            <div class="panel-body">
                <ul class="list-group">
                    <div class="col-md-6">
                        <li class="list-group-item">codeCross:
                            <span><strong><%= @germination.seed.crossing.codeCross %>-<%= @germination.seed.crossing.numRepeat%></strong></span>
                        </li>
                        <li class="list-group-item">Week:
                            <span><strong><%= @germination.week %></strong></span>
                        </li>
                        <li class="list-group-item">N°Germinations:
                            <span><strong><%= @germination.numGerminations %></strong></span>
                        </li> 
                    </div>
                    <div class="col-md-6">
                        <li class="list-group-item">Father Image:
                            <span>
                                <% @pictures.each do |picture| %>
                                <% if @germination.seed.crossing.father_id  == picture.genetic_bank_id %>
                                <div class="image-rose-show">
                                    <%= image_tag picture.picture.url(), :class=>"img-thumbnail" %>
                                </div>
                                <%end%>
                                <%end%>
                            </span>
                        </li>
                        <li class="list-group-item">Mother Image:
                            <span>
                                <% @pictures.each do |picture| %>
                                <% if @germination.seed.crossing.mother_id  == picture.genetic_bank_id %>
                                <div class="image-rose-show">
                                    <%= image_tag picture.picture.url(), :class=>"img-thumbnail" %>
                                </div>
                                <%end%>
                                <%end%>
                            </span>
                        </li>
                    </div>
                </ul>
            </div>      
            <div class="panel-footer">
                <%= link_to('Edit', edit_germination_path(@germination), class: "btn btn-default glyphicon glyphicon-pencil") %>
                <%= link_to('Back', germinations_path, class: "btn btn-default glyphicon glyphicon-arrow-left")%>
            </div>     
        </div>
    </div>
</div>




