<button class="btn btn-default" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-picture"></span> Upload Image
</button>
<br>
<div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <% case model %>
                        <% when "GeneticBank" %>
                        <%= form_for @genetic_bank,remote: true , :html => { multipart: true } do |f| %>                        
                        <div class="form-group">                            
                            <%= f.hidden_field :code %>
                            <%= f.label :pictures %>
                            <%= file_field_tag "images[]", type: :file, multiple: true %>
                        </div>
                        <div class="form-group">
                            <%= f.submit "Add Image",class: "btn btn-success" %>
                        </div>
                        <% end %>
                        <% when "OneOffspring" %>
                        <%= form_for([@one_offspring, @one_offspring.one_offspring_pictures.build]) do |f| %>
                        <div class="form-group">
                            <%= f.label :picture%>
                            <%= f.file_field :picture %>
                        </div>
                        <div class="form-group">
                            <%= f.submit "Add Image",class: "btn btn-success" %>
                        </div>
                        <% end %>
                        <% when "TwoOffspring" %>
                        <%= form_for([@two_offspring, @two_offspring.two_offspring_pictures.build]) do |f| %>
                        <div class="form-group">
                            <%= f.label :picture%>
                            <%= f.file_field :picture %>
                        </div>
                        <div class="form-group">
                            <%= f.submit "Add Image",class: "btn btn-success" %>
                        </div>
                        <% end %>
                        <% when "ThreeOffspring" %>
                        <%= form_for([@three_offspring, @three_offspring.three_offspring_pictures.build]) do |f| %>
                        <div class="form-group">
                            <%= f.label :picture%>
                            <%= f.file_field :picture %>
                        </div>
                        <div class="form-group">
                            <%= f.submit "Add Image",class: "btn btn-success" %>
                        </div>
                        <% end %>
                        <% when "IrbSelection" %>
                        <%= form_for([@irb_selection, @irb_selection.irb_selections_pictures.build]) do |f| %>
                        <div class="form-group">
                            <%= f.label :picture%>
                            <%= f.file_field :picture %>
                        </div>
                        <div class="form-group">
                            <%= f.submit "Add Image",class: "btn btn-success" %>
                        </div>
                        <% end %>
                        <% when "SpekSelection" %>
                        <%= form_for([@spek_selection, @spek_selection.spek_selections_pictures.build]) do |f| %>
                        <div class="form-group">
                            <%= f.label :picture%>
                            <%= f.file_field :picture %>
                        </div>
                        <div class="form-group">
                            <%= f.submit "Add Image",class: "btn btn-success" %>
                        </div>
                        <% end %>
                        <% when "ConectiflorSelection" %>
                        <%= form_for([@conectiflor_selection, @conectiflor_selection.conectiflor_pictures.build]) do |f| %>
                        <div class="form-group">
                            <%= f.label :picture%>
                            <%= f.file_field :picture %>
                        </div>
                        <div class="form-group">
                            <%= f.submit "Add Image",class: "btn btn-success" %>
                        </div>
                        <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>