<p id="notice"><%= notice %></p>

<h1>Listing Spek Selections Pictures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spek_selections_pictures.each do |spek_selections_picture| %>
      <tr>
        <td><%= link_to 'Show', spek_selections_picture %></td>
        <td><%= link_to 'Edit', edit_spek_selections_picture_path(spek_selections_picture) %></td>
        <td><%= link_to 'Destroy', spek_selections_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spek selections picture', new_spek_selections_picture_path %>
