<div class="container">
    <%= link_to 'Back', one_offsprings_path, class: "btn btn-default glyphicon glyphicon-arrow-left" %>
    <%= render 'uploadImage', model: "OneOffspring" %>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="text-left"><%= @one_offspring.germination.seed.crossing.codeCross %> 
                -<%= @one_offspring.individual %> Gallery</h3>
        </div>
        <div class="panel-body">
            <div class="gallery">
                <% @one_offspring.one_offspring_pictures.each do |picture| %>
                <figure>
                    <%if picture.picture.url() != "/pictures/original/missing.png" %>
                    <%= image_tag picture.picture.url(), :class=>"img-thumbnail" %>
                    <%= picture.picture_file_name %>
                    <%= link_to [picture.one_offspring,picture],remote: true,method: :delete,data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do %>                    
                    <i class="glyphicon glyphicon-trash"></i>
                    <%end%>
                    <%end%>
                </figure>
                <%end%>
            </div>
        </div>       
    </div>
</div>