<!DOCTYPE html>
<html>
    <head>
        <title>Rails4Example</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head> 
    <body>
        <% if user_signed_in? %>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <!--<li><link_to "COLORS" ,colors_path%></li>-->
                                <% if can? :manage, User %>
                                <li><%=link_to "USERS" ,user_index_path%></li>
                                <%end%>
                                <li><%=link_to "GENETIC BANK" ,genetic_banks_path%></li>
                                <li><%=link_to "CROSSINGS" ,crossings_path%></li>
                                <li><%=link_to "SEEDS" ,seeds_path%></li>
                                <li><%=link_to "GERMINATIONS" ,germinations_path%></li>
                                <li><%=link_to "OFFSPRING1" ,one_offsprings_path%></li>
                                <li><%=link_to "OFFSPRING2" ,two_offsprings_path%></li>
                                <li><%=link_to "OFFSPRING3" ,three_offsprings_path%></li>
                                <li><%=link_to "IRB SELECTIONS" ,irb_selections_path%></li>
                                <li><%=link_to "SPEK SELECTIONS" ,spek_selections_path%></li>
                                <li><%=link_to "CONECTIFLOR SELECTIONS" ,conectiflor_selections_path%></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>                               
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <h4>Signed in as <strong><%= current_user.username %></strong></h4>
                </div>
                <div class="col-md-6 text-right">
                    <h4><%= link_to "My Profile", edit_user_registration_path %> |
                        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></h4>    
                </div>
            </div>            
        </div>        
        <%end %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-8 col-xs-offset-1 col-sm-offset-3 col-md-offset-2">
                    <% if notice %>
                    <h4 class="alert alert-success"><%= notice %></h4>
                    <% end %>
                    <% if alert %>
                    <h4 class="alert alert-warning"><%= alert %></h4>
                    <% end %>
                    <% if flash[:success] %>
                    <h4 class="alert alert-success"><%= flash[:success] %></h4>
                    <% end %>
                    <% if flash[:error] %>
                    <h4 class="alert alert-danger"><%= flash[:error] %></h4>
                    <% end %>
                    <% if flash[:info] %>
                    <h4 class="alert alert-info"><%= flash[:info] %></h4>
                    <% end %>  
                </div>
            </div>
            <%= yield %>    
        </div>
    </body>
</html>
