<%= form_for(@spek_selection, remote: true, :html => { multipart: true , :role => "form" }) do |f| %>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <%= f.label :code%>
            <%= f.text_field :code,:class=>"form-control first_input" %>
        </div>
        <div class="form-group">
            <%= f.label :location%>
            <%= f.select(:location, options_for_select([['S.Tabacundo','S.Tabacundo'],['S.Lazo','S.Lazo'],['S.Cayambe','S.Cayambe']], :selected => f.object.location), {:prompt => "Select"}, {:class => 'form-control'})  %>
        </div>
        <div class="form-group">
            <%= f.label :trademark%>
            <%= f.text_field :trademark,:class=>"form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :denomination%>
            <%= f.text_field :denomination,:class=>"form-control"  %>
        </div>
        <div class="form-group">
            <%= f.label :year%>
            <%= f.select :year, (Time.zone.now.year - 16)..(Time.zone.now.year + 10), {:prompt => "Select"},{:class =>"form-control"} %>
        </div>
        <div class="form-group">
            <%= f.label :status%>
            <%= f.select(:status, options_for_select([['Keep','keep'],['Out','out']], :selected => f.object.status), {:prompt => "Select"}, {:class => 'form-control'})  %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <%= f.label :numPlants%>
            <%= f.number_field :numPlants,:class=>"form-control",:min => 1  %>
        </div>
        <div class="form-group">
            <%= f.label :color_id%>
            <%= f.collection_select(:color_id,Color.all,:id,:colorName,{:prompt => "Select Color"},{:class => "form-control"})%>
        </div>
        <div class="form-group">
            <%= f.label :scent%>
            <%= f.select(:scent, options_for_select([['Not','not'],['Yes','yes']], :selected => f.object.scent), {:prompt => "Select"}, {:class => 'form-control'})  %>
        </div>
        <div class="form-group">
            <%= f.label :headSize%>
            <%= f.select(:headSize, options_for_select([['2','2'],['2.5','2.5'],['3','3'],['3.5','3.5'],['4','4'],['4.5','4.5'],['5','5'],['5.5','5.5'],['6','6'],['6.5','6.5'],['7','7']], :selected => f.object.headSize), {:prompt => "Select"}, {:class => 'form-control'})  %>
        </div>
        <div class="form-group">
            <%= f.label :numPetals%>
            <%= f.number_field :numPetals,:class=>"form-control",:min => 1  %>
        </div>
        <div class="form-group">
            <%= f.label "SteamLenght(cm)"%>
            <%= f.number_field :steamLenght ,:class=>"form-control",:min => 1 %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <%= f.label "Production(%)"%>
            <%= f.number_field :production ,:class=>"form-control",:min => 1 %>
        </div>
        <div class="form-group">
            <%= f.label "Opening(%)"%>
            <%= f.number_field :opening ,:class=>"form-control",:min => 1 %>
        </div>
        <div class="form-group">
            <%= f.label :abnormality%>
            <%= f.text_area :abnormality,:class=>"form-control"  %>
        </div>
        <div class="form-group">
            <%= f.label :remarks%>
            <%= f.text_area :remarks ,:class=>"form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :spek_selections_picture_id%>
            <%= f.collection_select(:spek_selections_picture_id,SpekSelectionsPicture.where(spek_selection_id: @spek_selection.id),:id,:picture_file_name,{:prompt => "Select Image", :include_blank => "None"},{:class => "form-control"})%>
        </div>
        <div class="form-group">
            <%= f.label :pictures %>
            <%= file_field_tag "images[]", type: :file, multiple: true %>
        </div>
    </div>
    <div class="form-group">
        <%= f.submit class: "btn btn-primary active btn-block"%>
    </div>
</div>
</div>
<% end %>