<%= render 'optionsMenu', model: "SpekSelection" %>
<div class="text-center">    
    <div class="modal fade" id="spekSelection-modal-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Create Bar Codes</h4>
                </div>
                <div class="modal-body">                    
                    <%= form_tag(spekSelectionsBarCodes_path(format: "pdf"), method: :get) do %>
                    <%= select_tag "spekSelection", options_from_collection_for_select(SpekSelection.all, "id", "code"),multiple: true %>
                    <%= submit_tag "Create Bar Codes", class: "btn btn-success"%>
                    <%end%>  
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<%=
    grid(@spekSelectionsGrid) do |spek|    
        spek.column name: "Code", attribute: "code" 
        spek.column name: "Location", attribute: "location" 
        spek.column name: "Trademark", attribute: "trademark" 
        spek.column name: "Denomination", attribute: "denomination" 

        spek.column name: "Image" do |spekImage|
            if @pictures.exists?(:id => spekImage.spek_selections_picture_id)
                arrayImage = @pictures.where(id: spekImage.spek_selections_picture_id).to_a
                pictureFileName = arrayImage[0][:picture_file_name]
                image_tag(@spekImagesPath+pictureFileName,:class =>"img-thumbnail")      
            end            
        end

        spek.column name: "Year", attribute: "year" 
        spek.column name: "Status", attribute: "status" 
        spek.column name: "N° Plants", attribute: "numPlants" 
        spek.column name: "Color", attribute: "colorName" , assoc: :color
        spek.column name: "Head Size", attribute: "headSize" 
        spek.column name: "N° Petals", attribute: "numPetals" 
        spek.column name: "Production %", attribute: "production" 
        spek.column name: "Opening %", attribute: "opening" 
        spek.column name: "Abnormality", attribute: "abnormality" 
        #        spek.column name: "Remarks", attribute: "remarks"   

        spek.column do |spekSelection|
            link_to("",edit_spek_selection_path(spekSelection.id),:class => "btn btn-default glyphicon glyphicon-pencil")
        end

        spek.column do |spekSelection|
            link_to("",spek_selection_path(spekSelection.id),:class => "btn btn-default glyphicon glyphicon-eye-open")
        end

        spek.column do |spekSelection|
            link_to("",spek_selection_path(spekSelection.id), data: {confirm: 'Are you sure?'}, method: :delete,:class => 'deleteButton',:class => "btn btn-default glyphicon glyphicon-trash")
        end
    end
-%>



