<!-- <div class="container">
    <div class="row">
        <%= link_to 'Back', spek_selections_path,class: "btn btn-default glyphicon glyphicon-arrow-left" %>
        <%= link_to 'Edit', edit_spek_selection_path(@spek_selection),class: "btn btn-default glyphicon glyphicon-pencil" %> 
        <%= render 'uploadImage', model: "SpekSelection" %>    
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-left"><%= @spek_selection.code %></h2>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group item">Code:
                                <span><strong> <%= @spek_selection.code %></strong></span>
                            </li>

                            <li class="list-group item">Location:
                                <span><strong><%= @spek_selection.location %></strong></span>
                            </li>

                            <li class="list-group item">Trademark:
                                <span><strong><%= @spek_selection.trademark %></strong></span>
                            </li>

                            <li class="list-group item">Denomination:
                                <span><strong> <%= @spek_selection.denomination %></strong></span>
                            </li>

                            <li class="list-group item">Year:
                                <span><strong><%= @spek_selection.year %></strong></span>
                            </li>

                            <li class="list-group item">Status:
                                <span><strong>   <%= @spek_selection.status %></strong></span>
                            </li>

                            <li class="list-group item">Numplants:
                                <span><strong> <%= @spek_selection.numPlants %></strong></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group item">Color:
                                <span><strong><%= @spek_selection.color ? @spek_selection.color.colorName : 'N/A' %></strong></span>
                            </li>

                            <li class="list-group item">Scent:
                                <span><strong> <%= @spek_selection.scent %></strong></span>
                            </li>

                            <li class="list-group item">Headsize:
                                <span><strong><%= @spek_selection.headSize %></strong></span>
                            </li>

                            <li class="list-group item">Numpetals:
                                <span><strong><%= @spek_selection.numPetals %></strong></span>
                            </li>

                            <li class="list-group item">Steamlenght:
                                <span><strong><%= @spek_selection.steamLenght %></strong></span>
                            </li>

                            <li class="list-group item">Production:
                                <span><strong><%= @spek_selection.production %></strong></span>
                            </li>

                            <li class="list-group item">Opening:
                                <span><strong>  <%= @spek_selection.opening %></strong></span>
                            </li>

                            <li class="list-group item">Abnormality:
                                <span><strong><%= @spek_selection.abnormality %></strong></span>
                            </li>

                            <li class="list-group item">Remarks:
                                <span><strong> <%= @spek_selection.remarks %></strong></span>
                            </li>

                            <li class="list-group item">Main Picture:
                                <span><strong> 
                                    <%= @spek_selection.spek_selections_picture ? @spek_selection.spek_selections_picture.picture_file_name : "None" %>
                                    </strong></span>
                            </li>
                        </ul>
                    </div>
                </div>             
            </div>    

            <div class="gallery">
                <% @spek_selection.spek_selections_pictures.each do |picture| %>
                <figure>
                    <%if picture.picture.url() != "/pictures/original/missing.png" %>
                    <%= image_tag picture.picture.url(), :class=>"img-thumbnail" %>
                    <%= picture.picture_file_name %>
                    <%= link_to [picture.spek_selection,picture],method: :delete,data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do %>
                    <i class="glyphicon glyphicon-trash"></i>
                    <%end%>
                    <%end%>
                </figure>
                <%end%>
            </div>

            <div class="panel-footer">
                <%= link_to 'Back', spek_selections_path,class: "btn btn-default glyphicon glyphicon-arrow-left" %>
                <%= link_to 'Edit', edit_spek_selection_path(@spek_selection),class: "btn btn-default glyphicon glyphicon-pencil" %> 
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <%= link_to 'Back', spek_selections_path ,class: "btn btn-default glyphicon glyphicon-arrow-left"%>
        <%= render 'uploadImage', model: "SpekSelection" %>
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-left"><%= @spek_selection.code %></h2>
            </div>
            <div class="panel-body">
                <div class="gallery">
                    <% @spek_selection.spek_selections_pictures.each do |picture| %>
                    <figure>
                        <%if picture.picture.url() != "/pictures/original/missing.png" %>
                        <%= image_tag picture.picture.url(), :class=>"img-responsive" %>
                        <%= picture.picture_file_name %>
                        <%= link_to [picture.spek_selection,picture],method: :delete,data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do %>
                        <i class="glyphicon glyphicon-trash"></i>
                        <%end%>
                        <%end%>
                    </figure>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>